<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>FSAST - Password</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<style>
	.logo {
		height: 98px;
		width: 113px;
	}

	.btn {
		width: 350px;
	}

	#words_1 {
		font-weight: bold;
		font-size: 14px;
	}



	form {
		border: 1px solid lightgrey;
		padding: 16px 25px 25px 25px;
		border-radius: 4px;
		background-color: white;
	}

	.sign-in {
		font-size: 20px;
		font-weight: bold;
	}



	#grey-button {
		background-color: lightgrey;
		border: black;
	}
</style>

<body style=" background-color: ghostwhite;">
	<header>
		<div class="d-flex flex-row justify-content-center mt-5">
			<img class="logo" src="amazonviewonly/fsast_shop.png" />
		</div>
	</header>
	<!--Form-->
	<div class="d-flex flex-row justify-content-center mt-4">
		<div class="row">
			<div class="col-md">
				<div th:if="${error !=null}" class="text-danger">
					<p class="text-danger">[[${error}]]</p>
				</div>
				<form th:action="@{/reset_password}" method="POST">
					<input type="hidden" name="token" th:value="${token}">
					<div class="card-body" style="background-color: aliceblue;padding: 0.05rem;text-align: center;">
						<p class="sign-in">Enter New Password</p>
					</div>
					<div class="form-group">
						<label id="words_1" for="username">Enter Password</label>
						<input type="text" name="password" class="form-control mt-2" placeholder="Enter New Password"
							required>
						<small id="emailHelp" class="form-text text-muted"></small>
					</div>
					<div class="form-group">
						<div class="form-group">
							<button type="submit" class="btn btn-warning" id="sign-in">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<br><br><br>
	<hr>
	<div class="a-section a-spacing-top-extra-large auth-footer text-center">
		<div class="a-divider a-divider-section mb-2" style="font-size: 13px;">
			<a th:href="@{/}" class="a-divider-inner"
				style=" color: #5fa1ff;">Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a th:href="@{/shoplogin}" class="a-divider-inner"
				style=" color: #5fa1ff;">Business</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="https://fastshopcustomer.com/" class="a-divider-inner" style=" color: #5fa1ff;">Help</a>
		</div>
		<div class="a-section a-spacing-small a-text-center a-size-mini">
			<span class="text-muted d-block text-center text-sm-start d-sm-inline-block">
				Copyright © FSAST-Shop.com</span>
		</div>
	</div>
</body>

</html>